host = "0.0.0.0"
oneme_tcp_port = "443"
tamtam_tcp_port = "4433"

oneme_ws_port = "81"
tamtam_ws_port = "82"

log_level = "debug"

db_type = "mysql"

db_host = "localhost"
db_port = "3306"
db_user = "root"
db_password = "password"
db_name = "openmax"

db_file = ""

certfile = "cert.pem"
keyfile = "key.pem"

avatar_base_url = "http://127.0.0.1/avatar/"
telegram_bot_token = "123456789:ABCDEFGHIJKLMNOPQRSTUVWXYZ"
telegram_bot_enabled = "1"
telegram_whitelist_ids = "1,2,3"
origins="http://127.0.0.1,https://web.openmax.su"